name: Coverage

on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: pypy3
    - name: Ensure we have new enough versions to respect python_version
      run: python -m pip install -U pip setuptools
    - name: Install numpy dependencies
      run: sudo apt-get install -y gfortran libatlas-base-dev
      if: runner.os == 'Linux'
    - name: Install numpy dependencies
      run: brew install gcc
      if: runner.os == 'macOS'
    - name: Install tox
      run: python -m pip install tox
    - name: Collect & Upload Coverage
      run: python -m tox -e codecov
      env:
        CODECOV_TOKEN: ${{ secrets.codecov_token }}
